<ion-split-pane class="sidebar" when="lg" content-id="main-content">
  <app-menu-content activeOption="Pacientes"></app-menu-content>

  <div class="ion-page" id="main-content">
    <ion-content class="ion-no-padding">
      <ion-grid fixed>
        <ion-row>
          <ion-col size="12">
            <app-header-dashboard title="Pacientes"></app-header-dashboard>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <app-card-list
              filter="2022"
              [headers]="[
                {'size': 10,'value': 'Nombre'},
                {'size': 2,'value': 'Última prueba'},
              ]"
              [data]="[
                {'0': 'Claudia Ortiz Perez', '1': '15/07/2022', '2': 'f'},
                {'0': 'Ricardo Flores Vazquez', '1': '10/07/2022', '2': 'm'},
                {'0': 'José Carlos Ramírez Magón', '1': '01/07/2022', '2': 'm'},
                {'0': 'Laura Morales Flores', '1': '22/06/2022', '2': 'f'},
                {'0': 'Maria Gonzalez Reyes', '1': '10/06/2022', '2': 'f'},
                {'0': 'Juan Fernandez Fernandez', '1': '30/05/2022', '2': 'm'},
              ]"
              [itemHandler]="showPatient"
            >

            </app-card-list>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
  </div>
</ion-split-pane>
