<ion-split-pane class="sidebar" when="lg" content-id="main-content">
  <app-menu-content activeOption="Pacientes"></app-menu-content>

  <div class="ion-page" id="main-content">
    <ion-content class="ion-no-padding">
      <ion-grid fixed>
        <ion-row>
          <ion-col size="12">
            <app-header-dashboard title="Pacientes"></app-header-dashboard>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <app-card-list
              filter="2022"
              [headers]="[
                {'size': 10,'value': 'Nombre'},
                {'size': 2,'value': 'Última prueba'},
              ]"
              [data]="[
                {'0': 'Fulanito Perez Ramírez', '1': '15/06/2022'},
                {'0': 'Fulanito Perez Ramírez', '1': '15/06/2022'},
                {'0': 'Fulanito Perez Ramírez', '1': '15/06/2022'},
                {'0': 'Fulanito Perez Ramírez', '1': '15/06/2022'},
                {'0': 'Fulanito Perez Ramírez', '1': '15/06/2022'},
                {'0': 'Fulanito Perez Ramírez', '1': '15/06/2022'},
              ]"
              [itemHandler]="showPatient"
            >

            </app-card-list>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
  </div>
</ion-split-pane>
