<ion-split-pane class="sidebar" when="lg" content-id="main-content">
  <app-menu-content activeOption="Inicio"></app-menu-content>

  <div class="ion-page" id="main-content">
    <ion-content class="ion-no-padding">
      <ion-grid fixed>
        <ion-row>
          <ion-col size="12">
            <app-header-dashboard title="Historial del paciente"></app-header-dashboard>
          </ion-col>
        </ion-row>
    
        <ion-row>
          <ion-col size-md="12" size-lg="6">
            <app-card-info
              icon="id-card"
              textPrimary="Fulanito Perez"
              textSecondary="TecNM Instituto Tecnológico de Orizaba"
              textTertiary="47 años"
            ></app-card-info>
          </ion-col>
          <ion-col size-lg="3">
            <app-card-data
              icon="layers"
              textPrimary="Pruebas realizadas"
              textSecondary="7"
            ></app-card-data>
          </ion-col>
          <ion-col size-lg="3">
            <app-card-data
              icon="pulse"
              textPrimary="Probabilidad global"
              textSecondary="72%"
            ></app-card-data>
          </ion-col>
        </ion-row>
    
        <ion-row>
          <ion-col size-sm="12" size-md="8" size-lg="9">
            <app-card-chart
              title="Seguimiento de probabilidad"
              filter="2022"
              type="line"
              [labels]="['001', '002', '003', '004', '005', '006', '007']"
              [dataset]="[
                { name:'% de probbailidad', data:[23.12, 39.75, 35.02, 51.00, 42.82, 51.78, 53.22], color: '#17bebb'},
              ]"
            ></app-card-chart>
          </ion-col>
          <ion-col size-sm="12" size-md="4" size-lg="3">
            <app-card-chart-small
              title="Resultados"
              [labels]="['Positivo','Negativo']"
              [dataset]="[5, 2]"
            ></app-card-chart-small>
          </ion-col>
        </ion-row>
    
        <ion-row>
          <ion-col size="12">
            <app-card-table
              title="Historial de pruebas"
              filter="2022"
              [headers]="[
                {'size': 2,'value': 'Fecha'},
                {'size': 6,'value': 'Prueba'},
                {'size': 2,'value': 'Probabilidad', 'css': 'ion-hide-md-down'},
                {'size': 2,'value': 'Tiempo', 'css': 'ion-hide-md-down'},
              ]"
              [data]="[
                {'Fecha': '30/06/2022', 'Prueba': 'Prueba de Mano alzada', 'Probabilidad': '53.22%', 'Tiempo': '5m 42s'},
                {'Fecha': '15/06/2022', 'Prueba': 'Prueba de Mano alzada', 'Probabilidad': '51.70%', 'Tiempo': '4m 12s'},
                {'Fecha': '30/05/2022', 'Prueba': 'Prueba de Mano alzada', 'Probabilidad': '42.82%', 'Tiempo': '4m 37s'},
                {'Fecha': '15/05/2022', 'Prueba': 'Prueba de Mano alzada', 'Probabilidad': '51.00%', 'Tiempo': '5m 12s'},
                {'Fecha': '30/04/2022', 'Prueba': 'Prueba de Mano alzada', 'Probabilidad': '35.02%', 'Tiempo': '6m 07s'},
                {'Fecha': '15/04/2022', 'Prueba': 'Prueba de Mano alzada', 'Probabilidad': '39.75%', 'Tiempo': '5m 22s'},
                {'Fecha': '30/03/2022', 'Prueba': 'Prueba de Mano alzada', 'Probabilidad': '23.12%', 'Tiempo': '4m 52s'},
              ]"
              [itemHandler]="showTest"
            ></app-card-table>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
  </div>
</ion-split-pane>
