<ion-split-pane class="sidebar" when="lg" content-id="main-content">
  <app-menu-content activeOption="Configuraciones"></app-menu-content>

  <div class="ion-page" id="main-content">
    <ion-content class="ion-no-padding">
      <ion-grid fixed>
        <ion-row>
          <ion-col size="12">
            <app-header-dashboard title="Configuraciones"></app-header-dashboard>
          </ion-col>
        </ion-row>
    
        <ion-row>
          <ion-col>
            <ion-card mode="ios" class="card_dasboard ion-padding">
              <form>

                <ion-grid fixed>
                  
                  <ion-row>
                    <ion-col size="12">
                      <ion-item-divider mode="md">
                        <ion-label color="dark">Datos del paciente</ion-label>
                      </ion-item-divider>
                    </ion-col>
                  </ion-row>

                  <ion-row>
                    <ion-col size="12" size-lg="4">
                      <ion-item lines="none">
                        <ion-label position="stacked">Nombre</ion-label>
                        <ion-input name="txtNombre"></ion-input>
                      </ion-item>
                    </ion-col>
                    <ion-col size="12" size-lg="4">
                      <ion-item lines="none">
                        <ion-label position="stacked">Apellido Paterno</ion-label>
                        <ion-input name="txtNombre"></ion-input>
                      </ion-item>
                    </ion-col>
                    <ion-col size="12" size-lg="4">
                      <ion-item lines="none">
                        <ion-label position="stacked">Apellido Materno <small>(opcional)</small></ion-label>
                        <ion-input name="txtNombre"></ion-input>
                      </ion-item>
                    </ion-col>
                  </ion-row>

                  <ion-row>
                    <ion-col size="12" size-lg="4">
                      <ion-item lines="none">
                        <ion-label position="stacked">Fecha de nacimiento</ion-label>
                        <ion-input name="txtNombre" type="date"></ion-input>
                      </ion-item>
                    </ion-col>
                    <ion-col size="12" size-lg="8">
                      <ion-item lines="none">
                        <ion-label position="stacked">Institución médica</ion-label>
                        <ion-input name="txtNombre"></ion-input>
                      </ion-item>
                    </ion-col>
                  </ion-row>

                  <ion-row>
                    <ion-col size="12">
                      <ion-item-divider mode="md">
                        <ion-label color="dark">Datos de contacto</ion-label>
                      </ion-item-divider>
                    </ion-col>
                  </ion-row>

                  <ion-row>
                    <ion-col size="12" size-lg="4">
                      <ion-item lines="none">
                        <ion-label position="stacked">Correo electrónico</ion-label>
                        <ion-input name="txtNombre"></ion-input>
                      </ion-item>
                    </ion-col>
                    <ion-col size="12" size-lg="4">
                      <ion-item lines="none">
                        <ion-label position="stacked">Teléfono</ion-label>
                        <ion-input name="txtNombre"></ion-input>
                      </ion-item>
                    </ion-col>
                  </ion-row>

                  <ion-row>
                    <ion-col size="12">
                      <ion-item-divider mode="md">
                        <ion-label color="dark">Preferencias de idioma</ion-label>
                      </ion-item-divider>
                    </ion-col>
                  </ion-row>

                  <ion-row>
                    <ion-col size="12" size-lg="4">
                      <ion-item lines="none">
                        <ion-select interface="popover" placeholder="Seleccione una opción" value="ES-MX">
                          <ion-select-option value="ES-MX">Español (México)</ion-select-option>
                          <ion-select-option value="EN-US">English</ion-select-option>
                        </ion-select>
                      </ion-item>
                    </ion-col>
                  </ion-row>


                  <ion-row>
                    <ion-col size="12">
                      <ion-item-divider mode="md">
                        <ion-label color="dark">Contraseña</ion-label>
                      </ion-item-divider>
                    </ion-col>
                  </ion-row>

                  <ion-row>
                    <ion-col size="6" size-lg="4">
                      <ion-button expand="block" mode="ios" size="small" color="warning">Cambiar contraseña</ion-button>
                    </ion-col>
                  </ion-row>

                  <br><br>

                  <ion-row class="ion-justify-content-end" >
                    <ion-col size="12" size-lg="2">
                      <ion-button expand="block" fill="outline" mode="ios" size="small">Cancelar</ion-button>
                    </ion-col>
                    <ion-col size="12" size-lg="2">
                      <ion-button expand="block" mode="ios" size="small" (click)="presentAlert()">Guardar</ion-button>
                    </ion-col>
                  </ion-row>
                  
                </ion-grid>
              </form>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
  </div>
</ion-split-pane>
