.container_modal {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 2fr 0.5fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "container_modal_1 container_modal_2 container_modal_3"
    "container_modal_img container_modal_img container_modal_img"
    "container_modal_name container_modal_name container_modal_name";
}

.container_modal_1 { grid-area: container_modal_1; }
.container_modal_2 { grid-area: container_modal_2; }
.container_modal_3 { grid-area: container_modal_3; }
.container_modal_img { grid-area: container_modal_img; }
.container_modal_name { 
  grid-area: container_modal_name;
  width: 100%;
  position: absolute;
  bottom: 48px;

}

ion-modal {
  --backdrop-opacity: 0.75;
}

.container_modal_img {
  height: 300px;
  background: #00BFA6;
}

.sidebar {
  --side-max-width: 100vh;
  --side-min-width: 10vh;
}