#img_test001 {
    content: url('../assets/images/test001.png');
}

#img_test002 {
    content: url('../assets/images/test002.png');
}

#avatar-doctor {
    content: url('../assets/images/avatar-doctor.jpg');
}

#avatar-patient-woman {
    content: url('../assets/images/avatar-patient-woman.jpg');
}

#avatar-patient-man {
    content: url('../assets/images/avatar-patient-man.jpg');
}