.container_dashboard-main {
    width: 100%;
    height: 100vh;
    padding-bottom: 24px;
    
    display: grid;
    grid-template-columns: 0.8fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 0.7fr 2fr 3fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "container_dashboard-menu container_dashboard-header container_dashboard-header container_dashboard-header container_dashboard-header"
      "container_dashboard-menu container_dashboard-info container_dashboard-info container_dashboard-data1 container_dashboard-data2"
      "container_dashboard-menu container_dashboard-graph container_dashboard-graph container_dashboard-graph container_dashboard-graph_small"
      "container_dashboard-menu container_dashboard-table container_dashboard-table container_dashboard-table container_dashboard-table";
}

.container_dashboard-menu { grid-area: container_dashboard-menu; }
.container_dashboard-header { grid-area: container_dashboard-header; }  
.container_dashboard-info { grid-area: container_dashboard-info; }
.container_dashboard-data1 { grid-area: container_dashboard-data1; }
.container_dashboard-data2 { grid-area: container_dashboard-data2; }
.container_dashboard-graph { grid-area: container_dashboard-graph; }
.container_dashboard-graph_small { grid-area: container_dashboard-graph_small; }
.container_dashboard-table { grid-area: container_dashboard-table; }
