<ion-split-pane class="sidebar" when="lg" content-id="main-content">
  <app-menu-content activeOption="Inicio"></app-menu-content>

  <div class="ion-page" id="main-content">
    <ion-content class="ion-no-padding">
      <ion-grid fixed>
        <ion-row>
          <ion-col size="12">
            <app-header-dashboard title="Panel principal"></app-header-dashboard>
          </ion-col>
        </ion-row>
    
        <ion-row>
          <ion-col size-md="12" size-lg="6">
            <app-card-info
              icon="id-card"
              textPrimary="Dr. John Connor"
              textSecondary="TecNM Instituto Tecnológico de Orizaba"
            ></app-card-info>
          </ion-col>
          <ion-col size-lg="3">
            <app-card-data
              icon="people"
              textPrimary="Pacientes"
              textSecondary="10"
            ></app-card-data>
          </ion-col>
          <ion-col size-lg="3">
            <app-card-data
              icon="pulse"
              textPrimary="Probabilidad global"
              textSecondary="72%"
            ></app-card-data>
          </ion-col>
        </ion-row>
    
        <ion-row>
          <ion-col size-sm="12" size-md="8" size-lg="9">
            <app-card-chart
              title="Estudios realizados"
              filter="2022"
              
              [labels]="['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul']"
              [dataset]="[
                { name:'Hombres', data:[20, 30, 50, 50, 60, 45, 47], color: '#17bebb'},
                { name:'Mujeres', data:[40, 30, 37, 65, 55, 34, 42], color: '#f3a712'}
              ]"
            ></app-card-chart>
          </ion-col>
          <ion-col size-sm="12" size-md="4" size-lg="3">
            <app-card-chart-small
              title="Resultados"
              [labels]="['Positivo','Negativo']"
              [dataset]="[5, 2]"
            ></app-card-chart-small>
          </ion-col>
        </ion-row>
    
        <ion-row>
          <ion-col size="12">
            <app-card-table
              title="Pacientes recientes"
              filter="2022"
              [headers]="[
                {'size': 2,'value': 'Fecha'},
                {'size': 4,'value': 'Paciente'},
                {'size': 6,'value': 'Prueba'},
              ]"
              [data]="[
                {'Fecha': '30/06/2022', 'Paciente': 'Fulanito Perez', 'Prueba': 'Prueba de Mano alzada'},
                {'Fecha': '15/06/2022', 'Paciente': 'Fulanito Perez', 'Prueba': 'Prueba de Mano alzada'},
                {'Fecha': '30/05/2022', 'Paciente': 'Fulanito Perez', 'Prueba': 'Prueba de Mano alzada'},
                {'Fecha': '15/05/2022', 'Paciente': 'Fulanito Perez', 'Prueba': 'Prueba de Mano alzada'},
                {'Fecha': '30/04/2022', 'Paciente': 'Fulanito Perez', 'Prueba': 'Prueba de Mano alzada'},
                {'Fecha': '15/04/2022', 'Paciente': 'Fulanito Perez', 'Prueba': 'Prueba de Mano alzada'},
                {'Fecha': '30/03/2022', 'Paciente': 'Fulanito Perez', 'Prueba': 'Prueba de Mano alzada'}
              ]"
            ></app-card-table>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
  </div>
</ion-split-pane>
